
$baseColor: var(--base-primary-color);
$baseColor2: var(--base-secondary-color);
$baseColor3: var(--base-primary-color-2);
$baseColor4: var(--base-secondary-color-2);

$contentBackgroundColor: var(--white-color);
$primaryTextColor: var(--base-primary-color-3);

.header {
    background: $contentBackgroundColor;
    // background: blue;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 5vw 0 10vw;

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;

        width: 80%;

        .header-content-title {
            .title {
                font-family: 'Poppins';
                font-size: 50px;
                font-weight: 700;

                color: $baseColor;
            }

            .tagline {
                font-family: 'Poppins';
                font-size: 25px;
                font-weight: 500;
            }
        }

        .header-button-container {
            .header-button {

            }
        }
    }

    .header-image {
        align-self: flex-end;
        width: 100%;

        img {
            width: 100%;
        }
    }
}