
$baseColor: var(--base-primary-color);
$baseColor2: var(--base-secondary-color);
$baseColor3: var(--base-primary-color-2);
$baseColor4: var(--base-secondary-color-2);

$contentBackgroundColor: var(--white-color);
$primaryTextColor: var(--base-primary-color-3);

.header {
    background: $contentBackgroundColor;
    // background: blue;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1vw 0 15vw;
    position: relative;
    overflow: hidden;

    .header-ornament {
        position: absolute;
        width: 1200px;

        
        &#header-ornament-1 {
            top: -250px;
            right: -10px;
        }
        
        &#header-ornament-2 {
            bottom: -150px;
            left: -100px;
        }

        img {
            width: 100%;
        }
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;

        width: 100%;

        z-index: 999;

        .header-content-title {
            .title {
                font-family: 'Poppins';
                font-size: 50px;
                font-weight: 700;

                color: $baseColor;
            }

            .tagline {
                font-family: 'Poppins';
                font-size: 25px;
                font-weight: 500;
            }
        }

        .header-button-container {
            .header-button {
                transition: all 0.1s ease-in-out;

                &:focus, &:active, &:hover {
                    opacity: 100%;
                    gap: 15px;
                }
            }
        }
    }

    .header-image {
        align-self: flex-end;
        min-width: 800px;

        z-index: 999;

        img {
            width: 100%;
        }
    }

    @media (max-width: 1450px) {
        .header-ornament {
            width: 900px;
    
            &#header-ornament-1 {
                top: -150px;
                right: -10px;
            }
            
            &#header-ornament-2 {
                bottom: -100px;
                left: -100px;
            }
        }

    }

    @media (max-width: 1220px) {
        .header-image {
            min-width: 700px;
        }
    }

    @media (max-width: 990px) {
        height: 100%;

        padding: 150px 150px 0 150px;

        flex-direction: column;
        align-items: center;
        gap: 70px;

        .header-ornament {
            width: 700px;
        }

        .header-content {
            width: 100%;
        }

        .header-image {
            width: 650px;
            align-self: unset;
            min-width: unset;
        }
    }

    @media (max-width: 855px) {
        padding: 150px 75px 0 75px;
    }

    @media (max-width: 705px) {
        padding: 150px 30px 0 30px;
    }

    @media (max-width: 576px) {
        padding: 150px 0 0 0;

        .header-ornament {
            width: 450px;

            &#header-ornament-1 {
                top: -55px;
                right: -30px;
            }

            &#header-ornament-2 {
                bottom: -55px;
                left: -50px;
            }
        }

        .header-content {
            padding: 0 30px;

            .header-content-title {
                .title {
                    font-size: 35px;
                }

                .tagline {
                    font-size: 16px;
                }
            }

            .header-button-container {
                .header-button {
                    font-size: 16px;
                }
            }
        }

        .header-image {
            width: 100%;
        }
    }
}