:root {
  /* Backgrounds */
  --header-background-image: url(/assets/images/header/header-bg.png);
  --check-icon: url(/assets/icons/check-icon.png);
  
    /* Color Palette */
    --base-primary-color: #2196f3;
    --base-secondary-color: #f5650e;
    --base-shade-color: #21CBF3;

    --white-color: #FFFFFF;
    --default-bg-color: #FFF;
    --dark-color: #1c1c1e;

    --android-color: #001B65;
    --ios-color:#001B65;

    /* Outline */
    --outline-color: #DBDBDB;
    --outline-color-2: #EDEDED;

    --placeholder-color: #484646;

    /* Shadow */
    --shadow: rgba(48, 49, 51, 0.2);
    --brand-shadow: rgba(0, 113, 176, 0.18);

    /* Box Shadow */
    --box-shadow: 9px 11px 39px -5px rgba(#edc953, 0.7);
  
    /* Text */
    --primary-text-color: #1A1A1A;
    /* --primary-text-color: #070c16; */
    --secondary-text-color: #484646;
    --gray-text-color: #CCCCCC;
    --transparent-text-color: rgb(250, 252, 253, 0.8);
  
    /* Highlighted Color */
    --highlight-color: #001B65;
  
    /* Footer */
    --footer-background-color: var(--base-professional-color);
    --footer-list-color: var(--base-primary-color);
  
    overflow-x: hidden;
    box-sizing: border-box;

    /* Page Specific Style */
    --product-bg-color: #E9FBFF;
    --product-subtitle-color: #8A898E;
  }