$baseColor: var(--base-primary-color);
$baseColor2: var(--base-secondary-color);
$baseShadeColor: var(--base-shade-color);

$backgroundColor: white;
$textColor: var(--dark-color);

$boxShadow: var(--shadow);

.footer-container {
    width: 100%;
    background-color: $backgroundColor;
    color: $textColor;
    padding: 40px 15vw 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    box-shadow: inset 0 4px 5px 2px $boxShadow;

    .footer-address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        
        font-family: 'Poppins';

        .footer-address-title {
            font-size: 25px;
            color: $baseColor;
            font-weight: 600;

            &::after {
                content: " ";
                display: block;
                background-color: $baseColor2;
                width: 10%;
                min-width: 100px;
                height: 4px;
            }
        }

        .footer-address-info {
            .info-title {
                font-weight: 600;
            }

            .info-address {
                max-width: 400px;
            }
        }

        .footer-address-copyright {
            font-weight: 600;
            color: $baseColor;
        }
    }

    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        
        a {
            font-family: 'Poppins';
            color: $baseColor;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .footer-socmed {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .footer-socmed-label {
            font-family: 'Poppins';
            font-size: 20px;
            color: $baseColor;
            font-weight: 600;

            max-width: 300px;
        }

        .footer-socmed-items {
            display: flex;
            gap: 15px;

            a {
                color: $baseColor;
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
}