$baseColor: var(--base-primary-color);
$baseColor2: var(--base-secondary-color);
$baseColor3: var(--base-primary-color-2);
$baseColor4: var(--base-secondary-color-2);

$checkIcon: var(--check-icon);
$whiteColor: var(--white-color);

.form-label {
    font-weight: 500;
    font-size: 14px;
}

.form-control, .form-select {
    border: 3px solid #000;
    border-radius: 0;

    padding: 8px 15px;
    color: #000;

    transition: all 0.5s ease-in-out;

    &:focus, &:active, &:hover {
        border-color: $baseColor2;
        box-shadow: none;
        outline: none;
    }
    
    &::placeholder {
        color: #000;
    }
}

.form-check {
    .form-check-input {
        &:focus {
            border-color: $baseColor3;
            outline: none;
            box-shadow: none;
        }

        &:checked {
            background-color: #FFF;
            border: none;
            // background-color: $baseColor3;
        
            &[type=radio] {
                background-image: var(--check-icon);
                background-size: cover;
            }
        }
    }

    .form-check-label {
        font-size: 14px;
    }
}