* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--primary-text-color); */
}

.App {
  font-family: 'Satoshi';
  background-color: var(--white-color);
  color: var(--primary-text-color);
  position: relative;
  min-height: 100vh;
  height: fit-content;
}

.App.dark-mode {
  background-color: #222222;
  color: #FFF;
}

.App .hide {
  visibility: hidden;
  opacity: 0;
}

.base-bg-dark {
  background-color: var(--dark-color);
}

/* Fonts */

/* Static 'Satoshi' Font */
@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-Regular.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-BoldItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-Black.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./Fonts/Satoshi/Satoshi-BlackItalic.otf');
  font-weight: 700;
  font-style: italic;
}

/* Static 'Neue Kabel' Font */
@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-ThinItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-ExtraLight.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Italic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Book.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-BookItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Medium.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-MediumItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-ExtraBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-ExtraBoldItalic.otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('./Fonts/Neue-Kabel/NeueKabel-BlackItalic.otf');
  font-weight: 900;
  font-style: italic;
}

/* Parafina */
@font-face {
  font-family: 'Parafina';
  src: url('./Fonts/Parafina/ParafinaTrial-BoldS.otf');
}